<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Sym CRM - {% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('css/bulma.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">

        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        
        {% block styles %}{% endblock %}
    </head>

    <body>
        {% include "partials/navbar.html.twig" %}

        <div class="container">
        {% block body %}{% endblock %}
        </div>

        {% include "partials/footer.html.twig" %}

        <script src="{{ asset('js/app.js') }}"></script>
        <script src="{{ asset('js/modals.js') }}"></script>

        {% block scripts %}{% endblock %}
    </body>
</html>
