{% extends 'base.html.twig' %}

{% block title "Liste des utilisateurs" %}

{% block body %}
<h2 class="title">Liste des utilisateurs</h2>

{% include "partials/messages.html.twig" %}

<div class="table-container">
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Rôle</th>
                <th>Date d'inscription</th>
                <th class="is-narrow"></th>
                <th class="is-narrow"></th>
                <th class="is-narrow"></th>
            </tr>
        </thead>

        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.fullName }}</td>
                <td>{{ user.roles[0] }}</td>
                <td>{{ user.createdAt | date("d/m/Y") }}</td>

                <td>
                    <a href="{# path('users.profile', { 'id' : user.id }) #}" class="button is-info">
                        <i class="fa fa-eye"></i>
                    </a>
                </td>
                    
                <td>
                    <a href="{{ path('users.edit', { 'id' : user.id }) }}" class="button is-success">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
                    
                <td>
                    <button
                        class="button is-danger"
                        data-name="l'utilisateur"
                        data-type="users"
                        data-id="{{ user.id }}"
                        data-title="{{ user.fullName }}"
                        data-token="{{ csrf_token('delete' ~ user.id) }}"
                        onclick="deleteModal(this)">
                        <i class="fa fa-times"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{# Modals #}

{% include "partials/delete.html.twig" %}

{% endblock %}
