{% extends 'base.html.twig' %}

{% block title "Liste des utilisateurs" %}

{% block scripts %}
<script src="{{ asset('js/forms/users.js') }}"></script>
{% endblock %}

{% block body %}
<h2 class="title">Liste des utilisateurs</h2>

{% include "partials/messages.html.twig" %}

<div class="table-container">
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>
                    <a href="{{ path('users.sort', { column: 'id' }) }}">#</a>
                </th>

                <th>
                    <a href="{{ path('users.sort', { column: 'fullName' }) }}">Nom</a>
                </th>

                <th>
                    <a href="{{ path('users.sort', { column: 'role' }) }}">Rôle</a>
                </th>

                <th>
                    <a href="{{ path('users.sort', { column: 'created_at' }) }}">Date d'inscription</a>
                </th>

                <th class="is-narrow"></th>
                <th class="is-narrow"></th>
                <th class="is-narrow"></th>
            </tr>
        </thead>

        <tbody>
        {% for user in users %}
            {% set role = user.role %}
            {% set color = colors[role] %}

            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.fullName }}</td>
                <td class="{{ color }}">{{ role }}</td>
                <td>{{ user.createdAt | date("d/m/Y") }}</td>
                    
                <td>
                    <button
                        class="button is-success"
                        data-modal-title="Edition d'un utilisateur"
                        data-form-action="/users/edit/{{ user.id }}"
                        data-role="{{ role }}"
                        data-token="{{ csrf_token('edit') }}"
                        onclick="editModal(this)">
                        <i class="fa fa-pencil"></i>
                    </button>
                </td>
                    
                <td>
                    <button
                        class="button is-danger"
                        data-modal-title="Suppression d'un utilisateur"
                        data-form-action="/users/delete/{{ user.id }}"
                        data-name="{{ user.fullName }}"
                        data-token="{{ csrf_token('delete') }}"
                        onclick="deleteModal(this)">
                        <i class="fa fa-times"></i>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{# Modals #}

{% include "users/delete_user.html.twig" %}

{% include "users/edit_user.html.twig" %}

{% endblock %}
