{% extends 'base.html.twig' %}

{% block title "Liste des utilisateurs" %}

{% import "macros/ui.html.twig" as ui %}

{% block scripts %}
<script src="{{ asset('js/data/users.js') }}"></script>
{% endblock %}

{% block body %}
<h2 class="title">Liste des utilisateurs</h2>

{% include "partials/messages.html.twig" %}

{{ ui.search("users", "Jean Dupont") }}

<div class="table-container">
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>
                    # &nbsp; {{ ui.sort("users", "id") }}
                </th>

                <th>
                    Nom &nbsp; {{ ui.sort("users", "fullName") }}
                </th>

                <th>
                    Rôle &nbsp; {{ ui.sort("users", "role") }}
                </th>

                <th>
                    Date d'inscription &nbsp; {{ ui.sort("users", "date") }}
                </th>

                <th class="is-narrow"></th>
                <th class="is-narrow"></th>
                <th class="is-narrow"></th>
            </tr>
        </thead>

        <tbody>
        {% for user in users %}
            {% set role = user.role %}
            {% set color = colors[role] %}

            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.fullName }}</td>
                <td class="{{ color }}">{{ role }}</td>
                <td>{{ user.createdAt | date("d/m/Y") }}</td>
                    
                <td>{{ ui.edit(user) }}</td>
                <td>{{ ui.delete(user) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{# Modals #}

{% include "users/delete_user.html.twig" %}

{% include "users/edit_user.html.twig" %}

{% endblock %}
