<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a href="{{ path('home') }}" class="navbar-item has-text-weight-bold">Sym CRM</a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu is-active">
        <div class="navbar-start">
            <a href="{{ path('logout') }}" class="navbar-item">
                <i class="fa fa-sign-out" aria-hidden="true"></i> &nbsp; Déconnexion
            </a>

            <a href="#" class="navbar-item">Jean Dupont</a>
            
            <a href="{{ path('users') }}" class="navbar-item">
                <i class="fa fa-user" aria-hidden="true"></i> &nbsp; Utilisateurs
            </a>

            <a href="{{ path('teams') }}" class="navbar-item">
                <i class="fa fa-users" aria-hidden="true"></i> &nbsp; Equipes
            </a>

            <a href="{{ path('contacts') }}" class="navbar-item">
                <i class="fa fa-address-book" aria-hidden="true"></i> &nbsp; Contacts
            </a>

            <a href="{{ path('events') }}" class="navbar-item">
                <i class="fa fa-calendar" aria-hidden="true"></i> &nbsp; Evénements
            </a>
        </div>
    </div>
</nav>