<div class="modal" id="deleteTeam-{{ team.id }}">
    <div class="modal-background"></div>

    <div class="modal-card">
        <section class="modal-card-body">
            <p>Vous êtes sûr(e) de supprimer l'équipe <strong>{{ team.name }}</strong> ?</p>
        </section>

        <footer class="modal-card-foot">
            <form action="{{ path('teams.delete', { id: team.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE" />
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ team.id) }}" />
                
                <button class="button is-danger">Oui</button>
                <button class="button is-link" onclick="closeModal('#deleteTeam-{{ team.id }}', event);">Non</button>
            </form>
        </footer>
    </div>
</div>