{% extends 'base.html.twig' %}

{% import "macros/ui.html.twig" as ui %}

{% block title "Liste des équipes" %}

{% block scripts %}
<script src="{{ asset('js/data/teams.js') }}"></script>
{% endblock %}

{% block body %}
<h2 class="title is-2">{{ title }}</h2>

{% include "partials/messages.html.twig" %}

{{ ui.add("Nouvelle équipe") }}

{{ ui.search("teams", "Equipe de Jean Dupont") }}

<div class="table-container">
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>
                    # &nbsp; {{ ui.sort("teams", "id") }}
                </th>

                <th>
                    Nom &nbsp; {{ ui.sort("teams", "name") }}
                </th>
                
                <th>Membres</th>
                
                <th class="is-narrow"></th>
                <th class="is-narrow"></th>
            </tr>
        </thead>

        <tbody>
            {% for team in teams %}
            <tr>
                <td>{{ team.id }}</td>
                <td>{{ team.name }}</td>
                <td>?</td>

                <td>{{ ui.edit("Team", team) }}</td>
                <td>{{ ui.delete("Team", team) }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5">Aucune équipe n'a été ajoutée.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{# Modals #}

{% include "teams/delete_team.html.twig" %}
{% include "teams/form_team.html.twig" %}

{% endblock %}
