{% extends 'base.html.twig' %}

{% block title "Liste des équipes" %}

{% block body %}
<h2 class="title is-2">{{ title }}</h2>

{% include "partials/messages.html.twig" %}

<div class="block">
    <a href="{{ path('teams.new') }}" class="button is-link">
        <i class="fa fa-plus"></i> &nbsp; Nouvelle équipe
    </a>
</div>

<div class="table-container">
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Membres</th>
                <th class="is-narrow"></th>
                <th class="is-narrow"></th>
            </tr>
        </thead>

        <tbody>
            {% for team in teams %}
            <tr>
                <td>{{ team.id }}</td>
                <td>{{ team.name }}</td>
                <td>?</td>

                <td>
                    <a href="{{ path('teams.edit', { 'id' : team.id }) }}" class="button is-success">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>

                <td>
                    <button class="button is-danger" onclick="openModal('#deleteTeam-{{ team.id }}')">
                        <i class="fa fa-times"></i>
                    </button>
                </td>
            </tr>

            <!-- Modals -->

            {% include "teams/delete_team.html.twig" %}

            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
