{% extends 'base.html.twig' %}

{% block title "Liste des équipes" %}

{% block scripts %}
<script src="{{ asset('js/forms/teams.js') }}"></script>
{% endblock %}

{% block body %}
<h2 class="title is-2">{{ title }}</h2>

{% include "partials/messages.html.twig" %}

<div class="block">
    <button
        class="button is-link"
        data-modal-title="Ajout d'une équipe"
        data-form-action="/teams/new"
        data-token="{{ csrf_token('new') }}"
        onclick="addTeam(this);">
        <i class="fa fa-plus"></i> &nbsp; Nouvelle équipe
    </button>
</div>

<div class="table-container">
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Membres</th>
                <th class="is-narrow"></th>
                <th class="is-narrow"></th>
            </tr>
        </thead>

        <tbody>
            {% for team in teams %}
            <tr>
                <td>{{ team.id }}</td>
                <td>{{ team.name }}</td>
                <td>?</td>

                <td>
                    <button
                        class="button is-success"
                        data-modal-title="Edition d'une équipe"
                        data-team-id="{{ team.id }}"
                        data-form-action="/teams/edit/{{ team.id }}"
                        data-team-name="{{ team.name }}"
                        data-token="{{ csrf_token('edit') }}"
                        onclick="editTeam(this)">
                        <i class="fa fa-pencil"></i>
                    </button>
                </td>

                <td>
                    <button
                        class="button is-danger"
                        data-modal-title="Suppression d'une équipe"
                        data-team-id="{{ team.id }}"
                        data-team-name="{{ team.name }}"
                        data-token="{{ csrf_token('delete') }}"
                        onclick="deleteTeam(this)">
                        <i class="fa fa-times"></i>
                    </button>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5">Aucune équipe n'a été ajoutée.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{# Modals #}

{% include "teams/delete_form.html.twig" %}
{% include "teams/form_team.html.twig" %}

{% endblock %}
