{% extends 'base.html.twig' %}

{% block title "Liste des équipes" %}

{% block scripts %}
<script src="{{ asset('js/teams.js') }}" type="module"></script>
<script src="{{ asset('js/forms/teamForm.js') }}"></script>
{% endblock %}

{% block body %}
<h2 class="title is-2">{{ title }}</h2>

{% include "partials/messages.html.twig" %}

<add-button type="Team" label="Nouveau équipe" token="{{ csrf_token('new') }}"></add-button>

<search-form table="teams" placeholder="Equipe de Jean Dupont"></search-form>

<div class="table-container">
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>
                    # &nbsp; <sort-content table="teams" column="id"></sort-content>
                </th>

                <th>
                    Nom &nbsp; <sort-content table="teams" column="name"></sort-content>
                </th>
                
                <th>Membres</th>
                
                <th class="is-narrow"></th>
                <th class="is-narrow"></th>
            </tr>
        </thead>

        <tbody>
            {% for team in teams %}
            <tr>
                <td>{{ team.id }}</td>
                <td>{{ team.name }}</td>
                <td>?</td>

                <td>
                    <edit-team data="{{ team }}" token="{{ csrf_token('edit') }}"></edit-team>
                </td>

                <td>
                    <delete-team data="{{ team }}" token="{{ csrf_token('delete') }}"></delete-team>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="5">Aucune équipe n'a été ajoutée.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{# Modals #}

{% include "teams/delete_team.html.twig" %}
{% include "teams/form_team.html.twig" %}

{% endblock %}
