<div class="modal" id="deleteContact-{{ contact.id }}">
    <div class="modal-background"></div>

    <div class="modal-card">
        <section class="modal-card-body">
            <p>Vous êtes sûr(e) de supprimer le contact <strong>{{ contact.fullName }}</strong> ?</p>
        </section>

        <footer class="modal-card-foot">
            <form action="{{ path('contacts.delete', { id: contact.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE" />
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.id) }}" />
                
                <button class="button is-danger">Oui</button>
                <button class="button is-link" onclick="closeModal('#deleteContact-{{ contact.id }}', event);">Non</button>
            </form>
        </footer>
    </div>
</div>