{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="block">
    <a href="{{ path('contacts') }}" class="button">&lt; Liste des contacts</a>
</div>

<hr />

<h2 class="title is-2">{{ title }}</h2>

{{ form_start(form) }}
<div class="field">
    {{ form_label(form.fullName) }}
    
    <div class="control">
        {{ form_widget(form.fullName) }}
    </div>
</div>

<div class="field">
    {{ form_label(form.type) }}

    <div class="select">
    {{ form_widget(form.type) }}
    </div>
</div>

<div class="field">
    {{ form_label(form.role) }}

    <div class="select">
    {{ form_widget(form.role) }}
    </div>
</div>

<div class="field">
    {{ form_label(form.address) }}
    
    <div class="control">
        {{ form_widget(form.address) }}
    </div>
</div>

<div class="field">
    {{ form_label(form.country) }}
    
    <div class="control">
        {{ form_widget(form.country) }}
    </div>
</div>

<div class="field">
    {{ form_label(form.email) }}
    
    <div class="control">
        {{ form_widget(form.email) }}
    </div>
</div>

<div class="field">
    {{ form_label(form.phone) }}
    
    <div class="control">
        {{ form_widget(form.phone) }}
    </div>
</div>

<div class="field">
    {{ form_label(form.website) }}
    
    <div class="control">
        {{ form_widget(form.website) }}
    </div>
</div>

<div class="control">
    {{ form_widget(form.submit) }}
</div>
{{ form_end(form) }}

{% endblock %}