{% extends 'base.html.twig' %}

{% block title "Liste des contacts" %}

{% block scripts %}
<script src="{{ asset('js/forms/contacts.js') }}"></script>
{% endblock %}

{% block body %}
<h2 class="title">{{ title }}</h2>

{% include "partials/messages.html.twig" %}

<div class="block">
    <button
        class="button is-link"
        data-modal-title="Ajout d'un contact"
        data-form-action="/contacts/new"
        data-token="{{ csrf_token('new') }}"
        onclick="addModal(this);">
        <i class="fa fa-plus"></i> &nbsp; Nouvel contact
    </button>
</div>

<div class="block">
    <form action="{{ path('contacts.search') }}" id="searchForm">
        <div class="field">
            <input type="search" name="filter" class="input width-25" placeholder="Ex: Jean Dupont" />

            <button type="submit" class="button is-link ml-10">Rechercher</button>
        </div>
    </form>
</div>

<div class="table-container">
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>
                    <a href="{{ path('contacts.sort', { column: 'id' }) }}">#</a>
                </th>

                <th>
                    <a href="{{ path('contacts.sort', { column: 'fullName' }) }}">Nom</a>
                </th>

                <th>
                    <a href="{{ path('contacts.sort', { column: 'type' }) }}">Type</a>
                </th>

                <th>
                    <a href="{{ path('contacts.sort', { column: 'role' }) }}">Rôle</a>
                </th>

                <th>Coordonnées</th>

                <th class="is-narrow"></th>
                <th class="is-narrow"></th>
            </tr>
        </thead>

        <tbody>
            {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.fullName }}</td>
                <td>{{ contact.type }}</td>
                <td>{{ contact.role }}</td>
                <td>
                    <i class="fa fa-map-marker"></i> &nbsp; {{ contact.address }}<br />
                    <i class="fa fa-at"></i> &nbsp; {{ contact.email }}<br />
                    <i class="fa fa-phone"></i> &nbsp; {{ contact.phone }}<br />

                    {% if contact.website %}
                    <i class="fa fa-globe"></i> &nbsp; {{ contact.website }}
                    {% endif %}
                </td>
                    
                <td>
                    <button
                        class="button is-success"
                        data-modal-title="Edition d'un contact"
                        data-form-action="/contacts/edit/{{ contact.id }}"
                        data-name="{{ contact.fullName }}"
                        data-type="{{ contact.type }}"
                        data-role="{{ contact.role }}"
                        data-address="{{ contact.address }}"
                        data-phone="{{ contact.phone }}"
                        data-email="{{ contact.email }}"
                        data-website="{{ contact.website }}"
                        data-token="{{ csrf_token('edit') }}"
                        onclick="editModal(this)">
                        <i class="fa fa-pencil"></i>
                    </button>
                </td>
                    
                <td>
                    <button
                        class="button is-danger"
                        data-modal-title="Suppression d'un contact"
                        data-form-action="/contacts/delete/{{ contact.id }}"
                        data-name="{{ contact.fullName }}"
                        data-token="{{ csrf_token('delete') }}"
                        onclick="deleteModal(this)">
                        <i class="fa fa-times"></i>
                    </button>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="7">Aucun contact n'a été ajouté.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{# Modals #}

{% include "contacts/delete_contact.html.twig" %}

{% include "contacts/form_contact.html.twig" %}

{% endblock %}
