{% extends 'base.html.twig' %}

{% block title "Liste des contacts" %}

{% block scripts %}
<script src="{{ asset('js/contacts.js') }}" type="module"></script>
<script src="{{ asset('js/forms/contactForm.js') }}"></script>
{% endblock %}

{% block body %}
<h2 class="title is-2">{{ title }}</h2>

{% include "partials/messages.html.twig" %}

<add-contact token="{{ csrf_token('new') }}"></add-contact>

<search-contact></search-contact>

<div class="table-container">
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>
                    # &nbsp; <sort-contact column="id"></sort-contact>
                </th>

                <th>
                    Nom &nbsp; <sort-contact column="fullName"></sort-contact>
                </th>
                
                <th>
                    Type &nbsp; <sort-contact column="type"></sort-contact>
                </th>
                
                <th>
                    Rôle &nbsp; <sort-contact column="role"></sort-contact>
                </th>
                
                <th>Coordonnées</th>

                <th class="is-narrow"></th>
                <th class="is-narrow"></th>
            </tr>
        </thead>

        <tbody>
            {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.fullName }}</td>
                <td>{{ contact.type }}</td>
                <td>{{ contact.role }}</td>

                <td>
                    <contact-details data="{{ contact }}"></contact-details>
                </td>
                    
                <td>
                    <edit-contact data="{{ contact }}" token="{{ csrf_token('edit') }}"></edit-contact>
                </td>
                    
                <td>
                    <delete-contact data="{{ contact }}" token="{{ csrf_token('delete') }}"></delete-contact>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="7">Aucun contact n'a été ajouté.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{# Modals #}

{% include "contacts/delete_contact.html.twig" %}

{% include "contacts/form_contact.html.twig" %}

{% endblock %}