{% extends 'base.html.twig' %}

{% block title "Liste des contacts" %}

{% block body %}
<h2 class="title">{{ title }}</h2>

{% include "partials/messages.html.twig" %}

<div class="block">
    <a href="{{ path('contacts.new') }}" class="button is-link">
        <i class="fa fa-plus"></i> &nbsp; Nouveau contact
    </a>
</div>

<div class="table-container">
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Type</th>
                <th>Rôle</th>
                <th>Coordonnées</th>
                <th class="is-narrow"></th>
                <th class="is-narrow"></th>
            </tr>
        </thead>

        <tbody>
            {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.fullName }}</td>
                <td>{{ contact.type }}</td>
                <td>{{ contact.role }}</td>
                <td>
                    <i class="fa fa-map-marker"></i> &nbsp; {{ contact.address }}<br />
                    <i class="fa fa-at"></i> &nbsp; {{ contact.email }}<br />
                    <i class="fa fa-phone"></i> &nbsp; {{ contact.phone }}<br />

                    {% if contact.website %}
                    <i class="fa fa-globe"></i> &nbsp; {{ contact.website }}
                    {% endif %}
                </td>
                    
                <td>
                    <a href="{{ path('contacts.edit', { 'id' : contact.id }) }}" class="button is-success">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
                    
                <td>
                    <button
                        class="button is-danger"
                        data-name="le contact"
                        data-type="contacts"
                        data-id="{{ contact.id }}"
                        data-title="{{ contact.fullName }}"
                        data-token="{{ csrf_token('delete' ~ contact.id) }}"
                        onclick="deleteModal(this)">
                        <i class="fa fa-times"></i>
                    </button>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="7">Aucun contact n'a été ajouté.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{# Modals #}

{% include "partials/delete.html.twig" %}

{% endblock %}
