{% extends 'base.html.twig' %}

{% block title "Liste des contacts" %}

{% block scripts %}
<script src="{{ asset('js/contacts.js') }}" type="module"></script>
<script src="{{ asset('js/forms/contactForm.js') }}"></script>
{% endblock %}

{% block body %}
<h2 class="title is-2">{{ title }}</h2>

{% include "partials/messages.html.twig" %}

{{ ui.add("Contact", "Nouveau contact") }}

{{ ui.search("contacts", "Jean Dupont") }}

<div class="table-container">
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>
                    # &nbsp; {{ ui.sort("contacts", "id") }}
                </th>

                <th>
                    Nom &nbsp; {{ ui.sort("contacts", "fullName") }}
                </th>
                
                <th>
                    Type &nbsp; {{ ui.sort("contacts", "type") }}
                </th>
                
                <th>
                    Rôle &nbsp; {{ ui.sort("contacts", "role") }}
                </th>
                
                <th>Coordonnées</th>

                <th class="is-narrow"></th>
                <th class="is-narrow"></th>
            </tr>
        </thead>

        <tbody>
            {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.fullName }}</td>
                <td>{{ contact.type }}</td>
                <td>{{ contact.role }}</td>

                <td>
                    <contact-details data="{{ contact }}"></contact-details>
                </td>
                    
                <td>
                    <edit-contact data="{{ contact }}" token="{{ csrf_token('edit') }}"></edit-contact>
                </td>
                    
                <td>
                    <delete-contact data="{{ contact }}" token="{{ csrf_token('delete') }}"></delete-contact>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="7">Aucun contact n'a été ajouté.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{# Modals #}

{% include "contacts/delete_contact.html.twig" %}

{% include "contacts/form_contact.html.twig" %}

{% endblock %}