{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="block">
    <a href="{{ path('events') }}" class="button">&lt; Calendrier</a>
</div>

<hr />

<h2 class="title is-2">{{ title }}</h2>

{{ form_start(form) }}
<div class="field">
    {{ form_label(form.title) }}
    
    <div class="control">
    {{ form_widget(form.title) }}
    </div>
</div>

<div class="field">
    {{ form_label(form.type) }}
    
    <div class="select">
    {{ form_widget(form.type) }}
    </div>
</div>

<div class="field">
    {{ form_label(form.date) }}
    
    <div class="control">
    {{ form_widget(form.date) }}
    </div>
</div>

<div class="field">
    {{ form_label(form.time) }}
    
    <div class="control">
    {{ form_widget(form.time) }}
    </div>
</div>

<div class="field">
    {{ form_label(form.description) }}
    
    <div class="control width-40">
    {{ form_widget(form.description) }}
    </div>
</div>

<div class="control">
    {{ form_widget(form.submit) }}
</div>
{{ form_end(form) }}

{% endblock %}