{% extends 'base.html.twig' %}

{% block title "Liste des événements" %}

{% block scripts %}
<script src="{{ asset('js/forms/events.js') }}"></script>
{% endblock %}

{% block body %}
<h2 class="title is-2">{{ title }}</h2>

{% include "partials/messages.html.twig" %}

<div class="block">
    <button
        class="button is-link"
        data-modal-title="Ajout d'un événement"
        data-form-action="/events/new"
        data-token="{{ csrf_token('new') }}"
        onclick="addModal(this);">
        <i class="fa fa-plus"></i> &nbsp; Nouvel événement
    </button>
</div>

<div class="table-container">
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th class="sortable">
                    <a href="{{ url('events.sort', { field: 'id', order: 'desc' }) }}">#</a>
                </th>

                <th class="sortable">
                    <a href="{{ url('events.sort', { field: 'title', order: 'desc' }) }}">Titre</a>
                </th>
                
                <th class="sortable">
                    <a href="{{ url('events.sort', { field: 'type', order: 'desc' }) }}">Type</a>
                </th>
                
                <th class="sortable">
                    <a href="{{ url('events.sort', { field: 'date', order: 'desc' }) }}">Date & Heure</a>
                </th>
                
                <th class="sortable">
                    <a href="{{ url('events.sort', { field: 'description', order: 'desc' }) }}">Description</a>
                </th>
                
                <th class="is-narrow"></th>
                <th class="is-narrow"></th>
                <th class="is-narrow"></th>
            </tr>
        </thead>

        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.title }}</td>
                <td>{{ event.type }}</td>
                <td>{{ event.date | date("d/m/Y H:i") }}</td>
                <td>{{ event.description }}</td>

                <td>
                    <a href="{{ path('events.show', {'id': event.id}) }}" class="button is-info">
                        <i class="fa fa-eye"></i>
                    </a>
                </td>

                <td>
                    <button
                        class="button is-success"
                        data-modal-title="Edition d'un événement"
                        data-form-action="/events/edit/{{ event.id }}"
                        data-title="{{ event.title }}"
                        data-type="{{ event.type }}"
                        data-date="{{ event.date | date("Y-m-d H:m") }}"
                        data-description="{{ event.description }}"
                        data-token="{{ csrf_token('edit') }}"
                        onclick="editModal(this)">
                        <i class="fa fa-pencil"></i>
                    </button>
                </td>

                <td>
                    <button
                        class="button is-danger"
                        data-modal-title="Suppression d'un événement"
                        data-form-action="/events/delete/{{ event.id }}"
                        data-title="{{ event.title }}"
                        data-token="{{ csrf_token('delete') }}"
                        onclick="deleteModal(this)">
                        <i class="fa fa-times"></i>
                    </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun événement n'a été ajouté.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{# Events #}

{% include "events/delete_event.html.twig" %}

{% include "events/form_event.html.twig" %}

{% endblock %}