{% extends 'base.html.twig' %}

{% import "macros/ui.html.twig" as ui %}
{% import "macros/ui_events.html.twig" as uie %}

{% block title "Liste des événements" %}

{% block scripts %}
<script src="{{ asset('js/data/events.js') }}"></script>
{% endblock %}

{% block body %}
<h2 class="title is-2">{{ title }}</h2>

{% include "partials/messages.html.twig" %}

{{ ui.add("Nouvel événement") }}

{{ ui.search("events", "RDV avec Jean Dupont") }}

<div class="table-container">
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>
                    # &nbsp; {{ ui.sort("events", "id") }}
                </th>

                <th>
                    Titre &nbsp; {{ ui.sort("events", "title") }}
                </th>
                
                <th>
                    Type &nbsp; {{ ui.sort("events", "type") }}
                </th>

                <th>
                    Date &amp; Heure &nbsp; {{ ui.sort("events", "date") }}
                </th>

                <th>Description</th>
                
                <th class="is-narrow"></th>
                <th class="is-narrow"></th>
                <th class="is-narrow"></th>
            </tr>
        </thead>

        <tbody id="table">
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.title }}</td>
                <td>{{ event.type }}</td>
                <td>{{ event.date | date("d/m/Y H:i") }}</td>
                <td>{{ event.description }}</td>

                <td>{{ uie.show(event) }}</td>
                <td>{{ ui.edit(event) }}</td>
                <td>{{ ui.delete(event) }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun événement n'a été ajouté.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{# Events #}

{% include "events/delete_event.html.twig" %}

{% include "events/form_event.html.twig" %}

{% endblock %}