{% extends 'base.html.twig' %}

{% block title "Liste des événements" %}

{% block scripts %}
<script src="{{ asset('js/forms/events.js') }}"></script>
{% endblock %}

{% block body %}
<h2 class="title is-2">{{ title }}</h2>

{% include "partials/messages.html.twig" %}

<div class="block">
    <button
        class="button is-link"
        data-title="Ajout d'un événement"
        data-action="/events/new"
        data-token="{{ csrf_token('new') }}"
        onclick="addModal(this);">
        <i class="fa fa-plus"></i> &nbsp; Nouvel événement
    </button>
</div>

<div class="table-container">
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>#</th>
                <th>Titre</th>
                <th>Type</th>
                <th>Date & Heure</th>
                <th>Description</th>
                <th class="is-narrow"></th>
                <th class="is-narrow"></th>
                <th class="is-narrow"></th>
            </tr>
        </thead>

        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.title }}</td>
                <td>{{ event.type }}</td>
                <td>{{ event.date | date("d/m/Y H:i") }}</td>
                <td>{{ event.description }}</td>

                <td>
                    <a href="{{ path('events.show', {'id': event.id}) }}" class="button is-info">
                        <i class="fa fa-eye"></i>
                    </a>
                </td>

                <td>
                    <button
                        class="button is-success"
                        data-title="Edition d'un événement"
                        data-action="/events/edit/{{ event.id }}"
                        data-title="{{ event.title }}"
                        data-token="{{ csrf_token('edit') }}"
                        onclick="editTeam(this)">
                        <i class="fa fa-pencil"></i>
                    </button>
                </td>

                <td>
                    <button
                        class="button is-danger"
                        data-name="l'événement"
                        data-type="events"
                        data-id="{{ event.id }}"
                        data-title="{{ event.title }}"
                        data-token="{{ csrf_token('delete') }}"
                        onclick="deleteModal(this)">
                        <i class="fa fa-times"></i>
                    </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun événement n'a été ajouté.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{# Modals #}

{% include "modals/delete.html.twig" %}

{% include "events/form_event.html.twig" %}

{% endblock %}