{% set path = "pages/contacts/" %}

{% extends 'base.html.twig' %}

{% import "macros/ui.html.twig" as ui %}
{% import "macros/ui_contacts.html.twig" as uic %}

{% block title "Liste des contacts" %}

{% block scripts %}
<script src="{{ asset('js/data/contacts.js') }}"></script>
{% endblock %}

{% block body %}
<h2 class="title is-2">{{ title }}</h2>

{% include "partials/messages.html.twig" %}

{{ ui.add("Nouveau contact") }}

{{ ui.search("contacts", "Jean Dupont") }}

<div class="table-container">
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>
                    # &nbsp; {{ ui.sort("contacts", "id") }}
                </th>

                <th>
                    Nom &nbsp; {{ ui.sort("contacts", "fullName") }}
                </th>
                
                <th>
                    Type &nbsp; {{ ui.sort("contacts", "type") }}
                </th>
                
                <th>
                    Rôle &nbsp; {{ ui.sort("contacts", "role") }}
                </th>
                
                <th>Coordonnées</th>

                <th class="is-narrow"></th>
                <th class="is-narrow"></th>
            </tr>
        </thead>

        <tbody>
            {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.fullName }}</td>
                <td>{{ contact.type }}</td>
                <td>{{ contact.role }}</td>
                <td>{{ uic.details(contact) }}</td>

                <td>{{ ui.edit(contact) }}</td>
                <td>{{ ui.delete(contact) }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="7">Aucun contact n'a été ajouté.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{# Modals #}

{% include path ~ "delete_contact.html.twig" %}

{% include path ~ "form_contact.html.twig" %}

{% endblock %}